# Copia a .env.local y rellena. .env.local NO se sube a git.
# Supabase > Project Settings > API  (MISMO proyecto que el formulario)
NEXT_PUBLIC_SUPABASE_URL=https://tspjjxuanzcknqsvhnfw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcGpqeHVhbnpja25xc3ZobmZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NDM3MTgsImV4cCI6MjA5OTExOTcxOH0.KG3T8wIHsaWqgMfDmFdHJC3iY84PhxDkup5vdBIRw_M
